<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <time xsi:type="FastUTC" />

  <variable name="logDirectory" value="${basedir}/App_Data/logs" />

  <targets>
    <target xsi:type="Trace" name="trace" />

    <target name="rollingFile"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.${shortdate}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="rollingFile" />
    <logger name="*" minlevel="Info" writeTo="rollingFile" />
    <logger name="*" level="Error" writeTo="rollingFile" />
  </rules>
</nlog>
